---
layout: default
title: 加解密
excerpt: ""
scripts: tools/crypt.html
---

{% raw %}
<div id="app">
  <div class="row my-3">
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">password</span>
        </div>
        <input type="password" class="form-control" v-model="password">
        <div class="input-group-append">
          <span class="input-group-text" v-if="passwordStatusMessage !== null">{{ passwordStatusMessage }}</span>
          <button class="btn btn-secondary text-white" v-bind:class="{ 'btn-success': !encrypt, 'btn-danger': encrypt }" v-on:click="toggleCrypt">{{ cryptMessage }}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <div class="input-group">
        <textarea class="form-control" rows="20" v-model="input"></textarea>
      </div>
    </div>
    <div class="col">
      <div class="input-group">
        <textarea class="form-control" rows="20" v-model="output"></textarea>
      </div>
    </div>
  </div>
</div>
{% endraw %}