{% raw %}
<script>
  $(function () {
    $('main').addClass("mx-sm-3 mx-md-4 mx-lg-5");
    $('main h1, main .h1').addClass("mt-4 mt-lg-5 mb-4");
    $('main h2, main .h2').addClass("mt-4 mt-lg-5 mb-4");
    $('main h3, main .h3').addClass("mt-4 mb-4");
    $('main h4, main .h4').addClass("mt-4 mb-4");

    const locks = {};

    Vue.mixin({
      methods: {
        random() {
          const b = Math.pow(0.5, 32);
          const array = crypto.getRandomValues(new Uint32Array(4));
          return Array.from(array).reduce((n, x) => (n + x) * b, 0);
        },

        // code
        arrayFromString(string) {
          return new TextEncoder().encode(string);
        },
        arrayToString(array) {
          return new TextDecoder().decode(array);
        },
        hexFromString(string) {
          return new Uint8Array(string.match(/[\da-fA-F]{1,2}/g).map(x => parseInt(x, 16)));
        },
        hexToString(array) {
          return Array.from(array).map(x => x.toString(16).padStart(2, '0')).join('');
        },
        base64FromString(string) {
          return Uint8Array.from(atob(string), c => c.charCodeAt(0));
        },
        base64ToString(array) {
          return btoa(String.fromCharCode(...new Uint8Array(array)));
        },
        base64urlFromString(string) {
          return this.base64FromString(string.replace(/-/g, "+").replace(/_/g, "/"));
        },
        base64urlToString(array) {
          return this.base64ToString(array).replace(/\+/g, "-").replace(/\//g, "_").replace("=", "");
        },
        base64Encode(string) {
          return this.base64ToString(this.arrayFromString(string));
        },
        base64Decode(string) {
          return this.arrayToString(this.base64FromString(string));
        },

        // digest
        async digest(message, algorithm) {
          return new Uint8Array(await crypto.subtle.digest(algorithm, this.arrayFromString(message)));
        },
        async sha1(message) {
          return await this.digest(message, "SHA-1");
        },
        async sha256(message) {
          return await this.digest(message, "SHA-256");
        },
        async sha384(message) {
          return await this.digest(message, "SHA-384");
        },
        async sha512(message) {
          return await this.digest(message, "SHA-512");
        },

        // crypt
        async aesGcmKey(password) {
          const hashArray = (await this.sha512(password)).slice(0, 32);
          const jwk = {
            k: this.base64urlToString(hashArray),
            kty: ""
          };
          return await crypto.subtle.importKey("jwk", jwk, { name: "AES-GCM" }, true, ["encrypt", "decrypt"]);
        },
        async aesGcmEncrypt(message, password) {
          const ivArray = crypto.getRandomValues(new Uint8Array(12));
          const algorithm = { name: "AES-GCM", iv: ivArray };
          const key = await this.aesGcmKey(password);
          const decryptArray = this.arrayFromString(message);
          const encryptArray = await crypto.subtle.encrypt(algorithm, key, decryptArray);
          return {
            data: this.base64ToString(encryptArray),
            iv: this.hexToString(ivArray)
          };
        },
        async aesGcmDecrypt({ data: data, iv: iv }, password) {
          const ivArray = this.hexFromString(iv);
          const algorithm = { name: "AES-GCM", iv: ivArray };
          const key = await this.aesGcmKey(password);
          const encryptArray = this.base64FromString(data);
          const decryptArray = await crypto.subtle.decrypt(algorithm, key, encryptArray);
          return this.arrayToString(decryptArray);
        },

        // lock
        lock(key, func) {
          if (!locks[key]) {
            locks[key] = true;
            func.apply(this);
            vm.$nextTick(() => {
              locks[key] = false;
            });
          }
        },
        async alock(key, afunc) {
          if (!locks[key]) {
            locks[key] = true;
            await afunc.apply(this);
            vm.$nextTick(() => {
              locks[key] = false;
            });
          }
        },

        // load, store
        load(key, defaultJson) {
          defaultJson = defaultJson || "{}";
          return JSON.parse(localStorage.getItem(key) || defaultJson);
        },
        store(key, json) {
          if (json == undefined) {
            localStorage.removeItem(key);
          } else {
            localStorage.setItem(key, JSON.stringify(json));
          }
        },
      }
    });

    window.vm = new Vue({
      el: "footer",
      data: {
        test: "hello",
      },
      methods: {
        scrollTop() {
          $('html').animate({ scrollTop: 0 })
        }
      },
    })

  });
</script>
{% endraw %}